@if index($btn-types, transparent) {
  /* == Transparent == */
  .btn--transparent {
    background-color: transparent;
    border-color: #f07f2e;
    color: #f07f2e;

    &:active {
      background-color: darken(#d14a00, 10%);
      color: #fff;
    }

    @media (hover: hover) {
      &:hover,
      &:focus {
        background-color: lighten(#d14a00, 10%);
        color: #fff;
      }
    }

    &[disabled] {
      background-color: #b5b5be;
    }
  }
}
